on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    # ZRAM
    write /proc/sys/vm/page-cluster 0

    # Storage
    mkdir /mnt/vendor/prodnv 0771 root root

on fs
    mount_all /vendor/etc/fstab.ums9621_1h10 --early

    # NV restore
    restorecon_recursive /mnt/vendor

on late-fs
    mount_all /vendor/etc/fstab.ums9621_1h10 --late

on post-fs-data
    mkdir /data/vendor 0771 root root
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/nv 0770 root root

on boot
    # Bluetooth MAC address
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill0/state

    # WiFi
    setprop wifi.interface wlan0

    # Display
    chown system graphics /sys/class/backlight/sprd_backlight/brightness
    chmod 0664 /sys/class/backlight/sprd_backlight/brightness

service vendor.thermal /vendor/bin/thermal
    class main
    user root
    group root

service charger /system/bin/charger
    class charger
    user system
    group system graphics input log
    capabilities SYS_BOOT
    seclabel u:r:charger:s0
